<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <div class="my-0 mr-md-auto font-weight-normal">
    <a class="btn btn-outline-primary" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"
      routerLink="/categories">List Categories</a>&nbsp;
    <a class="btn btn-outline-primary" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"
      routerLink="/products">List Products</a>
  </div>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="btn btn-outline-primary" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"
      routerLink="/categories/new">Add Category</a>
  </nav>
  <a class="btn btn-outline-primary" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"
    routerLink="/products/new">Add Product</a>
</div>
<div style="margin-top: 100px">
  <router-outlet></router-outlet>
</div>