<div class="container">
    <div class="col-sm-8 offset-sm-2" *ngIf="product">
        <h3 class="mb-3 text-center">Product Details</h3>
        <div class="form-group row" style="margin-top: 60px">
            <label class="col-sm-2 col-form-label">Name: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="product.name" disabled>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Price: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="product.price" disabled>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Categories: </label>
            <div class="col-sm-10">
                <ng-select [disabled]="true" [items]="product.categories" [multiple]="true" [closeOnSelect]="false"
                    [searchable]="false" bindLabel="name" [(ngModel)]="product.categories">
                </ng-select>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" routerLink="/products/{{product.uuid}}/edit">Edit</button>
        </div>

        <div class="form-group">
            <button class="btn btn-danger btn-lg btn-block" (click)="deleteProduct(product.uuid)">Delete</button>
        </div>

        <div class="form-group">
            <button class="btn btn-outline-primary btn-lg btn-block" routerLink="/products">Cancel</button>
        </div>

    </div>
</div>